POSTGRES_USER=useruseruser
POSTGRES_PASSWORD=passwordpasswordpassword
POSTGRES_DB=taski
# Добавляем переменные для Django-проекта:
DB_HOST=db
DB_PORT=5432
SECRET_KEY=verysecretkey
DEBUG=False
ALLOWED_HOSTS=takoyami.sytes.net,localhost,127.0.0.1
